In php-login, pubtkt_decrypt_bauth() doesn't extract properly password, according to RFC7617

In function pubtkt_decrypt_bauth(), the following line trims the password at the first colon it will meet:

https://github.com/manuelkasper/mod_auth_pubtkt/blob/b305dff5581e2b0a44ec7f622d18980cc0e67180/php-login/pubtkt.inc#L267

The special case in which a password may contain one (or more) colon characters is covered in [RFC7617 section 2](https://tools.ietf.org/html/rfc7617#section-2):

> [...] a user-id containing a colon character is invalid, as the first colon in a user-pass string separates user-id and password from one another; text after the first colon is part of the password.

Thus, `user:a:password` is decoded as `a:password`, not `a`.

One way to solve this issue is to apply the following instead:
```php
$decrypted = trim($decrypted);
$pass = substr( $decrypted, strpos( $decrypted, ':')+1);
```
The code above will trim the decrypted string, locate the first colon, then return the substring after that colon.

Fixed – thanks!